.canvas {
  border: 3px solid #f7f7f7;
  border-radius: 15px;
  z-index: 1;
  position: absolute;

}

.canvasDiv {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.canvasDivTwo {
  z-index: 2;
}

.brushSizeButtons {
  display: flex;
  justify-content: center;
  padding: 10px 0px 5px 0px;
}

.brushSize {
  background-color: #f7f7f7;
  padding: 15px;
  border-radius: 17px;
  margin: 10px;
  width: 140px;
}

.brushSizeText {
  color: #7438E2;
  text-align: center;
}

.paletteDiv {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.opacityDiv {
  background-color: #f7f7f7;
  padding: 15px 20px 0px 20px;
  border-radius: 17px;
  margin: 10px;
  width: 140px;
  height: 90px;
  text-align: center;
}

.opacity {
  color: #7438E2;
}

.erase-clear-chip.MuiChip-root {
  background-color: #f7f7f7;
  font-size: 16px;
  color: #7438E2;
  padding: 25px 10px 25px 10px;
  margin: 10px;
}

.slider {
  padding: 5px 0px 5px 0px;
}

.columnTwo {
  display: flex;
  justify-content: center;
}

.columnThree {
  display: flex;
  justify-content: center;
}

.important-words {
  color: #7438E2;
  font-weight: bold;
}