/* UploadForm.css */

.mainContainer {
  margin: 50px;
}

.submitContainer {
  margin-top: 30px;
  margin: 0 auto;
  display: flex;
  justify-content: center;

  .submitStack {
    display: flex;
    justify-content: center;
    margin: 50px;

    .submitButton {
      background-color: #7438E2;
      color: white;
      border-radius: 15px;
    }

    .submitButton.Mui-disabled {
      opacity: 0.4;
    }
  }
}

.successMessage {
  padding: 5% 33%;
  text-align: center;
}

.returnImgContainer {
  display: flex;
  justify-content: center;
}