.dashboardMain {
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: space-evenly;
  padding: 5% 5%;

  .chartContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;

    .chart {
      position: relative;
      max-height: 90vh;
      overflow: hidden;
      width: 100%;
      border: 1px solid #f0eded;
    }

    .communitySelect {
      position: absolute;
      top: 20px;
      left: 20px;
      z-index: 100;
    }

    .overlayButton {
      background-color: #eeeeee;
      border: 1px solid #d9d9d9;
      border-radius: 8px;
    }

    .buttonContainer {
      position: absolute;
      justify-content: flex-end;
      display: flex;
      flex-direction: row;
      top: 20px;
      z-index: 100;
      right: 20px;

      .infoButtonContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #ffffff;
        border: 1px solid #d9d9d9;
        border-radius: 8px;
        height: auto;

        &.expanded {
          width: max-content;
          padding: 10px;
        }

        .infoButton {
          display: inline-block;
        }
      }

      .infoButton,
      .backButton {
        margin-right: 10px;
        color: black;
        height: 40px;
        text-transform: none; /* Prevents automatic uppercase transformation */
      }
    }
  }
}
