.mainContainer {
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .alertMessage {
    width: 100%;
    max-width: 600px;
  }

  .coverPicDiv {
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    width: 600px;

    .coverImg {
      min-width: 50px;

      max-width: 80%;
      object-fit: contain;
    }
  }

  .mainBox {
    display: flex;
    justify-content: center;
    padding: 60px 30px 60px 30px;

    .introText {
      font-size: 14px;
      max-width: 600px;
    }

    .highlight {
      background-color: #b2ede7;
    }

    .bold {
      font-weight: bold;
    }
  }

  .uploadGrid,
  .discoverGrid {
    justify-content: center;
  }

  .uploadIcon,
  .discoveryIcon {
    max-width: 250px;
  }
}

@media screen and (min-width: 601px) {
  .uploadGrid {
    margin: 0 10px 0 0;
  }
}

@media screen and (max-width: 600px) {
  .uploadIcon {
    width: 150px;
  }

  .discoveryIcon {
    width: 150px;
  }

  .uploadGrid {
    margin: 0 0 10px;
  }
}

.uploadPopOverText,
.discoverPopoverText {
  color: #b2ede7;
  filter: drop-shadow(3px 3px 3px #5a18d5);
  font-size: 60px !important;

  @media screen and (max-width: 600px) {
    font-size: 50px !important;
  }
}

.buttonContainer {
  margin-top: 30px;
  margin-bottom: 30px;
  margin: 0 auto;
  display: flex;
  justify-content: center;

  .discordSignupButton {
    background: #f7f7f7;
    color: #7438e2;
    border-radius: 15px;
    box-shadow: 3px 3px 5px #d3cece;
  }

  .discordSignupButton:hover {
    background: #f7f7f7;
    color: #b2ede7;

    .discordSignupIcon.MuiSvgIcon-root {
      color: #b2ede7;
    }
  }

  .newsletterButton {
    color: white;
    background-color: #7438e2;
    border-radius: 15px;
    font-weight: 500;
    box-shadow: 3px 3px 5px #d3cece;
    font-family: "Inter", sans-serif;
  }

  .newsletterButton:hover {
    background-color: #b2ede7;
  }
}

.footerGrid {
  display: flex;
  justify-content: center;
  margin: 50px;
}

.horizontal {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.logosGridContainer {
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .fundedLogosDiv {
    display: block;
    margin: 0 auto;
    max-width: 900px;

    .fundedLogo-OKF,
    .fundedLogo-BMBF {
      width: 100px;
      margin: 20px;
    }

    .fundedLogo-EU {
      max-width: 80%;
      object-fit: contain;
      height: 30px;
      margin: 20px;
    }

    .fundedLogo-PTF,
    .fundedLogo-HTW {
      max-width: 80%;
      height: 50px;
      margin: 20px;
    }
  }
}

.legalDiv {
  display: flex;
  justify-content: center;

  .MuiLink-root:hover {
    color: #a280df;
  }
}

.legalGrid {
  max-width: 600px;
  color: gray;

  /* margin: 50px; */
}
