@media (max-width: 600px) {
  .hide {
    display: none;
  }
}

.navbar {
  box-shadow: none;
}

.logo {
  width: 35px;
  margin-left: 10px;
}

.avatar {
  width: 35px;
  opacity: 60%;
  margin-right: 10px;
}

.brand-name {
  font-size: 24px;
  padding: 10px;
}

.navbar-collapse {
  display: flex;
  justify-content: flex-end;
}

.login-button {
  margin-left: auto;
}
