.highlighterColor {
  background-color: #b2ede7;
}

.textMandatory {
  color: #7438e2;
  font-weight: bold;
}

.HighlightChipContainer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.highlightButton.MuiChip-root {
  background-color: #f7f7f7;
  font-size: 16px;
  color: #7438e2;
  padding: 25px 10px;
  margin: 10px;
}

.highlightButton.MuiChip-root:hover {
  background-color: #b2ede7;
  font-size: 16px;
  color: white;
  padding: 25px 10px;
  margin: 10px;
}

.highlighterContainer {
  margin-top: 10px;
  background-color: #f7f7f7;
  border-radius: 5px;
  padding: 10px;
}

.tagContainer {
  padding-bottom: 20px;
  margin: 20px;
}

.tagsChip.MuiChip-root {
  font-size: 16px;
  color: #7438e2;
  border: 2px solid #7438e2;
  background-color: #f7f7f7;
  margin-top: 10px;
  margin-right: 10px;

  .avatarStyle {
    background-color: #7438e2;
    color: white;
    padding-top: 3px;
    padding-bottom: 3px;
  }
}

.tagsChip.MuiChip-root.userChipStyle {
  border-color: #a280df;
  .avatarStyle {
    background-color: #a280df;
  }
}

.tagsChip.MuiChip-root.communityChipStyle {
  border-color: #5a18d5;
  .avatarStyle {
    background-color: #5a18d5;
  }
}

.suggestedChipStyle.MuiChip-root {
  font-size: 16px;
  margin-top: 10px;
  margin-right: 10px;
  color: white;
  border: solid 3px #a280df;
  background-color: #7438e2;
  border-radius: 15px;
}

.suggestedChipStyle.MuiChip-root:hover {
  background-color: #b2ede7;
  border: solid 3px #8cd1ca;
}

.important-words {
  color: #7438e2;
  font-weight: bold;
}
