

@media (max-width: 600px){
    .uploadIcon {
        width: 150px; 
    }
    .discoveryIcon {
        width: 150px; 
    }
    .homeIcon {
        width: 80px;
    }
    .solidarityIcon {
        width: 80px;
        padding-top: 10px; 
    }
    .wellBeingIcon {
        width: 80px;
        padding-top: 10px; 
    }
    .introText {
        font-size: 14px; 
    }
}