@media (max-width: 600px) {
  .hide {
    display: none;
  }
}

.navbar {

  padding: 15px;

}

.logo {
  width: 35px;
  margin-left: 10px;
}

.avatar {
  opacity: 60%;
  margin-right: 10px;
}

.brand-name {
  font-size: 24px;
  padding: 10px;
  color: #7438E2;
}

.navbar-collapse {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.login-button,
.logout-button {
  margin-left: auto;
  padding: 10px;
}